# Exclude Terraform directories and files
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
.terraform.lock.hcl

# Exclude any log files
*.log

# Exclude Python compiled files
__pycache__/
*.pyc

# Exclude system files
.DS_Store
Thumbs.db